[submodule "themes/hugo-freelancer-theme"]
	path = themes/hugo-freelancer-theme
	url = https://github.com/digitalcraftsman/hugo-freelancer-theme
[submodule "themes/dream"]
	path = themes/dream
	url = https://github.com/g1eny0ung/hugo-theme-dream.git
